 body{
 background-image:url(resource/siena.png);
 background-attachment: fixed;
 background-size: cover;
}

.mainpage {
    width: 90%;
	margin: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #444444;
    background-color: white;
}

.mainpagewithside{
	width: 90%;
	margin: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #444444;
    background-color: white;
}

.mainpagewithside img{
width:100%;
}

#left_problems
{
	position: fixed;
	float: left;
	width: 15%;
	margin-left: 2%;
	margin-right95;
}

#left{
	float: left;
	width: 20%;
	margin-left: 2%;
	margin-right:4%;
     opacity:0.9;
}
#right{
	float:right;
	width: 60%;
	margin-right: 5%;
}

#right_problems{
	float:right;
	width: 65%;
	margin-right: 5%;
}

.profile
{
display: block;
font:12px sans-serif;
width:100%;
padding-left:5px;
margin:2px;
border: 1px solid gray;
text-indent: 2%;
border-radius: 5px;
background: linear-gradient(to left,white, rgba(0,89,77,1));
}

.profile img{
float:left;
width:95%;
border-radius: 40%;
box-shadow: 5px 5px 5px #444444;
}


.shadowy{
 text-shadow: 2px 2px 2px black;
}
 #coloredButton{
  background:rgba(255,205,52,1);
}


nav{
    margin-top: 20px;
    border-radius: 10px;
    width: 95%;
    background-color:darkgray;
    opacity: 0.9;
}
nav img{
	width: 30%;
}
nav ol, nav li {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.button{
  background:rgba(255,205,52,1);
}

nav li a{
    display: inline-block;
     width: 100px;
     border: 1px solid lightgray;
     margin: 5px;
     padding: 5px 0px;
     text-align: center;
     border-radius: 10px;
     background: linear-gradient(to top, gray, white);
     text-decoration:none;
 
}

nav li a:hover{
 -webkit-filter: blur(1px);
 opacity:0.5;
}

.logo{
    padding-right:30px;
    height: 60;
}
.pagetitle {
    margin:10px;
    width: 620px;
    padding:10px;
    color: #be8a14;
    background-color: #1a280d;
}



.photoBlock{
 display:block;
 height:200px;
 width: 200px;
 float:left;
 padding-left:15px;
 padding-top:15px;
 border-radius: 5px;
 box-shadow: 10px 10px 10px #444444;
 transition-property: width,heightr;
 transition: width 0.5s, height 0.5s;
 transition-timing-function: linear;
}

.photoBlock:hover {
width:350px;
height:410px;
}
